body {
    background-color: #F8F9FA;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .title-container {
    font-size: 36px;
    font-weight: bold;
    color: #2D3748;
    position: absolute;
    top: 40px;
    left: 300px;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 150px;
    margin-left: 150px;

  }
  
  .form-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    color: #2D3748;
    
    font-weight: 550;
    
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-box input {
    width: calc(100% - 20px); /* Agrega espacio a la derecha */
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #F8F9FA;
    color: #2D3748;
    margin-right: 10px; /* Espacio a la derecha */
  }
  /* Button */
/* Contenedor del botón */
.edit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio entre los contenedores y el botón */
    width: 100%; /* Asegura que ocupe toda la fila */
}

/* Botón con desplazamiento hacia la derecha */
.edit-button {
    background-color: #4FD1C5;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: #ffffff;
    height: 36px;
    width: 102px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 150px; /* Desplaza el botón hacia la derecha */
    
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

}

.edit-button:hover {
    background-color: #256a96;
    transition: background-color 0.3s ease;
}





  