body {
    background-color: #1B254B !important;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .background {
    width: 100%;
    height: 327px;
    background-color: #0B1437;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .title-container {
    font-size: 36px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 40px;
    left: 300px;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 150px;
    margin-left: 150px;
  }
  
  .form-box {
    background-color: #111C44;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    color: white;
  }
  
  .form-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-box input {
    width: calc(100% - 20px); /* Agrega espacio a la derecha */
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #1B254B;
    color: white;
    margin-right: 10px; /* Espacio a la derecha */
  }
  /* Button */
/* Contenedor del botón */
.edit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio entre los contenedores y el botón */
    width: 100%; /* Asegura que ocupe toda la fila */
}

/* Botón con desplazamiento hacia la derecha */
.edit-button {
    background-color: #3182CE;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: #FFFFFF;
    height: 31px;
    width: 102px;
    font-weight: semi-bold;
    cursor: pointer;
    margin-left: 150px; /* Desplaza el botón hacia la derecha */
}

.edit-button:hover {
    background-color: #256a96;
    transition: background-color 0.3s ease;
}





  